* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 24px;
}


body {
    background-image: url("../img/animal_kingdom.jpg");
    background-attachment: fixed;
    color: #0E79B2;
}

/*General Floats*/
.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/* Nav logo*/
.navbar-brand img {
    max-width: 45px; 
    margin-top: -10px;
}

/*Center Text*/
.center {
    text-align: center;
}

/* Main Text Areas*/
.main {
    background-color: #eee;
    margin-bottom: 0px;
    border-radius: 6px 6px 0 0;
    padding: 5px;
/*
    margin-right: -15px;
    margin-left: -15px;
*/
}

/*Main Text P element*/
.main p:last-child {
    margin-bottom: 0px;
}

/*Logo*/
.logo img {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
/*    border-radius: 40%;*/
}

.jumbotron {
    background-color: #eee;
    border-top: 30px double #0E79B2;
    border-bottom: 30px double #0E79B2;
    
}

.maingrp {
    width: 100%;
    height: auto;
}

/*Items that will appear side to side each other*/
.sidegrp  {
    padding-top: 40px;
}



.thumbnail {
    margin-top: 20px;
    border-radius: 20px !important;
}

.imggroup {
/*    float: left;*/
    display: inline-block;
    width: auto;
    margin: 5px;
    padding: 2px;
}

.row {
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 6px;
    height: auto;
    padding-bottom: 30px;
}

/*Payment Infomtion section in Donate Page*/
.ccinfo, .donateamt {
    background-color: #eee;
}


/* Globe Image */
img.globe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20px;
    background-color: #eee;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    padding: 20px;
}


/*Footer Nav*/
.footer-nav ul {
    list-style: none;
/*
    float: right;
    text-align: center;
*/
}

.footer-nav ul li {
    display: inline-block;
}

.footer-nav ul li a {
    margin: 0 10px;
}

.footer-nav img {
    background-color: #0E79B2;
    border-radius: 50%;
}

/* End of Footer Nav*/

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}