* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 24px;
}

/*Center Text*/
.center {
    text-align: center;
}

.maingrp {
    width: 100%;
    height: auto;
}
.group {
    float: left;
    width: 200px;
    margin: 10px;
    padding: 40px;
}

/*
.maingrp::after {
    content: " ";
    clear: both;
}*/
